/*
.profile-container {
  position: relative;
}

.average-speed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.profile-container.scrolled .average-speed {
  opacity: 0;
} */

.centered-header {
  text-align: center;
}

.route-saver-header{
  text-align: center;
  font-size: xx-large;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
