@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

#sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 35%;
  left: 33.7%;
}

.centered-header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.centered-header-Save {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 5px;
  position: absolute;
  top: 10%;
}

.route-saver-headers {
  text-align: center;
  font-size: xx-large;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.route-options {
  display: flex;
}

#profilePic {
  border-radius: 100px;
  height: 30px;
}

#list {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin-top: 0px;
  font-weight: 500;
  position: fixed;
  top: 17%;
  left: 25%;
}

#search-criteria {
  display: flex;
}

#no-list {
  background-color: #fff;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  height: 52vh;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

#nothing-searched {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  height: 52vh;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

#searched-list {
  margin-top: 15px;
  display: flex;
  height: 52vh;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  overflow: scroll;
}

.card-elements {
  display: flex;
  width: 58%;
  align-items: center;
}

.checkmark {
  height: 17px;
  border-radius: 6px;
}

#saveMessage {
  left: 62%;
}

#Delete-Alert {
  top: 13%;
  left: 51%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  height: 2vh;
}

@media screen and (min-width: 425px) {
  #saveMessage {
    left: 60%;
  }
}

@media screen and (min-width: 768px) {
  #saveMessage {
    left: 78%;
  }
}

@media screen and (min-width: 1024px) {
  #saveMessage {
    left: 84%;
  }
}

@media screen and (min-width: 1440px) {
  #saveMessage {
    left: 88%;
  }
}

@media screen and (min-width: 2560) {
  #saveMessage {
    left: 98%;
  }
}

.search-form {
  display: flex;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: row;
  align-items: center;
  padding-inline: 39px;
  flex-wrap: wrap;
  max-height: 17vh;
  overflow: scroll;
}

.searched-blocks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 65%;
  flex-direction: row;
  padding-right: 15px;
}

.route-name {
  font-size: 25px;
  text-align: center;
  display: flex;
  width: 120%;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 10px;
  text-decoration: underline;
}

#set-private {
  font-family: 'Roboto', sans-serif;
  /* font-weight: bold; */
  font-size: 14px;
}

.submit-buttons {
  background: rgb(123, 231, 149);
  background: linear-gradient(128deg,
      rgb(42, 164, 71) 0%,
      rgb(104, 194, 125) 100%);
}

/*
Below is the styling for the stopwatch
*/

.stopwatch-container {
  z-index: 9999;
}

.stopwatch-text-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stopwatch-text {
  color: black;
  font-family: 'digital-7', sans-serif;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.stopwatch-button-align {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
}

.stopwatch-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/*
Above is the styling for the stopwatch
*/

.profile-pic {
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;
  height: 100px;
  box-shadow: -8px 2px 6px rgba(0, 0, 0, 0.2);
}

.theme-icon {
  margin-top: 10px;
  margin-right: 10px;
  /* margin-top: 10px;
  margin-right: 0; */
}

.logout-block {
  margin-top: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;

}


.themeIcon {
  margin-top: 20px;
  position: absolute;
  right: 0;
  /* margin-left: auto; */

}

.profile-pic-Theme-icon {
  display: flex;
  justify-content: space-between;
  position: relative;
  /* align-items: center; */
}

.default-profile-display {
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

@media screen and (max-height: 900px) {
  .default-profile-display {
    margin-top: 10em;
  }
}

@media screen and (max-height: 850px) {
  .default-profile-display {
    margin-top: 8rem;
  }
}

@media screen and (max-height: 750px) {
  .default-profile-display {
    margin-top: 3rem;
  }
}

@media screen and (max-height: 700px) {
  .default-profile-display {
    margin-top: 2rem;
  }
}


/*
The code below is for the scroll wheel
*/
.wave-highlight {
  position: relative;
  display: inline-block;

}

.highlight-text {
  display: inline-block;
  animation: wave-highlight 2s infinite;
  margin-bottom: 30px;
  color: #ac7ede;
  /* box-shadow: -8px 2px 6px rgba(0, 0, 0, 0.2); */
}

@keyframes wave-highlight {
  0% {
    text-shadow: 0 0 2px rgb(14, 30, 17);
  }

  50% {
    text-shadow: 0 0 10px rgb(14, 30, 17);
  }

  100% {
    text-shadow: 0 0 2px rgb(14, 30, 17);
  }
}


[class^='number-slide'],
[class*=' number-slide'] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  height: 100px;
  width: 50px;
  max-height: 100vh;
  border-radius: 50%;
}

/* Styles for larger monitors */
@media screen and (min-width: 768px) {
  [class^='number-slide'],
  [class*=' number-slide'] {
    border-radius: 0; /* Override border-radius for larger monitors */
  }
}

.buttonContainer {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  bottom: 0;
  /* transform: translateX(-50%); */
  z-index: 1;
}

.backButton {
  position: fixed;
  margin-left: 10px;
}

.forwardButton {
  position: fixed;
  margin-right: 10px;
}

.rideStatsButton {
  position: fixed;
  /* display: flex; */
  justify-content: center;
}

.custom-slide {
  width: 150px;
}

.customButton {
  height: 100px;
  width: 120px;
  max-height: 100vh;
  border-radius: 50%;
  color: white !important;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.customButton:active {
  background-color: rgb(32, 31, 31);
  background: linear-gradient(128deg, rgb(125, 125, 125) 0%, rgb(6, 6, 6) 100%);
  color: white;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(128deg,
      rgb(69, 174, 249) 0%,
      rgb(52, 87, 239) 100%);
  box-shadow: -8px 2px 6px rgba(0, 0, 0, 0.2);
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(128deg,
      rgba(255, 154, 63, 1) 0%,
      rgba(255, 63, 63, 1) 100%);
  box-shadow: -8px 2px 6px rgba(0, 0, 0, 0.2);
}

/* .number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(128deg,
      rgba(182, 255, 64, 1) 0%,
      rgba(63, 255, 71, 1) 100%);
  background: linear-gradient(128deg,
      rgba(189, 255, 83, 1) 0%,
      rgba(43, 250, 82, 1) 100%);
} */

/* .number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(128deg,
      rgba(64, 255, 242, 1) 0%,
      rgba(63, 188, 255, 1) 100%);
} */

/* .number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(128deg,
      rgba(255, 64, 156, 1) 0%,
      rgba(255, 63, 63, 1) 100%);
} */

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(128deg,
      rgba(64, 76, 255, 1) 0%,
      rgba(174, 63, 255, 1) 100%);
  box-shadow: -8px 2px 6px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.scroller-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  min-height: 150px;
  position: relative;
}

.current-scroller {
  position: fixed;
  /* top: calc(0% - 60px); */
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.selected-stats-state {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  margin: 5px;
  text-align: center;
  white-space: nowrap;
}

.error-success-alert {
  position: fixed;
  /* top: 50%; */
  bottom: 50px;
  left: 50%;
  width: 300px;
  height: 100px;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/*
The code above is for the scroll wheel
*/

[class^='leaderboard-view'],
[class*=' leaderboard-view'] {
  display: flex;
  justify-content: center;
}

.place-lb {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-left: 7px;
  text-align: center;
}

.place-10 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-left: 4px;
  text-align: center;
}

.leaderList {
  display: flex;
  margin: 9px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  width: 85%;
}

.place-leaderboard {
  display: contents;
}

.ten-List {
  margin-bottom: 10px;
}

.leaderboardTitles {
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 4px;
  padding-bottom: 5px;
  text-align: center;
  padding-top: 5px;
}

.leaderboard-value {
  margin-right: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 87vh;
}

@media screen {
  .container {
    height: 87vh;
  }
}

.leaderBoxOverride {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

/*
The code below is for the Profile search Home address feature
*/

.address-alerts {
  position: fixed;
  /* top: 50%; */
  bottom: 50px;
  left: 50%;
  width: 300px;
  height: 100px;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.setAddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* top: 100x;
  bottom: 0px; */
  height: 60vh;
  position: relative;
  top: 50%;

}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* Position the element relative to the parent element */
  top: 29%;
  /* Adjust the top value to position the element where you want it */
  transform: translateY(-50%);
  /* Center the element vertically */
  color: #f1e2e2;
  margin-top: 170px;
  /* bottom: 200px; */
}


.saveHome {
  margin-top: 10px !important;
  /* position: absolute; */
  /* margin-bottom: 10px; */
  z-index: 9999;
  box-shadow: -8px 2px 6px rgba(0, 0, 0, 0.2) !important;
  outline: 1px solid red;
}

.displayedAddress {
  position: absolute;
  /* Adjust the value to position the element where you want it */
  align-content: center;
  top: calc(30% - 60px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-address {
  margin-top: 2px;
}

@media screen and (max-height: 900px) {
  .address {
    bottom: 200px;
  }
}

@media screen and (max-height: 850px) {
  .address {
    bottom: 200px;
  }
}

@media screen and (max-height: 700px) {
  .address {
    margin-top: 30px;
  }

  /* .delete-address {
    top: 0;
  } */

  .displayedAddress {
    top: calc(20% - 60px);
    /* top: 0; */
  }
}

.address-input {
  margin-top: 60px;
}

.autocomplete-dropdown-container {
  /* position: relative; */

  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  overflow-y: auto;
}

/*
The code above is for the Profile search Home address feature
*/

/*
The code below is for the Profile set weight feature
*/

.weight-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
}

.weight-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* Position the element relative to the parent element */
  bottom: 140px;
  transform: translateY(-50%);
  /* Center the element vertically */
}

.saveWeight {
  margin-top: 17px !important;
  box-shadow: -8px 2px 6px rgba(0, 0, 0, 0.3) !important;
}

.current-weight {
  position: absolute;
  top: calc(30% - 60px);
  /* top: calc(30% - 100px);  */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -24px;
}

.delete-weight {
  position: absolute;
  bottom: calc(55% + 30px);
  /* Adjust this value according to your needs */
  left: 50%;
  transform: translateX(-50%);
}


@media screen and (max-height: 700px) {
  .delete-weight {
    position: absolute;
    bottom: calc(62% + 30px);
    /* Adjust this value according to your needs */
    left: 50%;
    transform: translateX(-50%);
  }

  .current-weight {
    top: calc(20% - 60px);
    /* top: 0; */
  }
}

.custom-snackbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
}

.address-alert-stack {
  position: absolute;
  bottom: 165px;
}

/*
The code above is for the Profile set weight feature
*/

/*
The code below is for the Profile Stats feature
*/

.select-stats {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -8px 2px 6px rgba(0, 0, 0, 0.3) !important;
}


.stats-grid-container {
  height: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: rgb(51, 51, 51); */
  padding: 16px;
}

@media screen and (max-width: 420px) {
  .stats-grid {
    margin-top: 100px;
  }
}

@media screen and (max-width: 400px) {
  .stats-grid {
    margin-top: 75px;
  }
}

@media screen and (max-width: 380px) {
  .stats-grid {
    margin-top: 0;
  }
}

.stats-grid {
  opacity: 1;
  color: '#1d1c1c';
}

/*
The code above is for the Profile Stats feature
*/

/* This is the disable some of the google watermarks */

.gm-style-cc {
  display: none;
}

/* Set the desired duration and easing function */
#make-report-container {
  transition: opacity 0.5s ease-out;
}

.white-input {
  color: #fff;
}

.report-type {
  font-family: 'Your Font', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

