/*
.profile-container {
  position: relative;
}

.average-speed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.profile-container.scrolled .average-speed {
  opacity: 0;
} */

#reports-container {
  height: calc(100vh - 400px); /* replace 400px with the height of your ReportsMap */
  overflow-y: scroll; /* add scrollbars if content exceeds the height of the container */
}
